body{
    background-color: rgba(33, 31, 31, 0.614);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
a{
    
    color: black;
}
img{
    height: 90%;
    width: 65%;
    object-fit:cover;
    border-radius: 8px;
    box-shadow: 2px 2px 8px 3px black;
    position: absolute;
    left:520px;
    top: 30px;

}

#mainimage img:hover{
    box-shadow: 3px 3px 10px 4px black;
    transform: scale(1.01);
    
}
.login #logimg,.ownerlogin #logimg{
    object-fit: cover;
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0.3;
    height: 100%;
    width: 100%;
    z-index: 0;
    border-radius: 15px;
    
}
.login, .ownerlogin{
    height: 60%;
    width: 30%;
    z-index: 1;
    object-fit:inherit;
    border: 0px solid black;
    box-shadow: 2px 2px 10px 2px black;
    position: absolute;
    top:200px;
    left:30px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    color: white;
    text-shadow: 1px 1px 4px white;
}


.slogan h2 {
    margin: 0; 
    padding: 0;
    position: absolute;
    top: 90px;
    left: 310px;
    transform: translate(-50%, -50%);
    font-size: 60px; 
    color: transparent;
    text-transform: uppercase;
    display: inline;   
    white-space: nowrap;
  }
  
  .slogan h2 span {
    display: inline-block;
    position: absolutes;
    
    transition: 0.5s;
  }
  
 
  .slogan h2 span.top {
    position: absolute;
    left: 0;
    right: 0;
    color: #000;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
    overflow: hidden;
  }
  
  
  .slogan h2:hover span.top {
    transform: translateY(0px); 
  }
  
 
  .slogan h2 span.bottom {
    position: absolute;
    left: 0;
    right: 0;
    color: #000;
    clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
    overflow: hidden;
  }
  
  .slogan h2:hover span.bottom {
    transform: translateY(30px); 
  }
  
  
  .slogan h2 span.slogan-text {
    color: #000;
    
    font-size: 18px; 
    font-weight: 500;
    letter-spacing: 0;
    font-family: "Inter", sans-serif;
    margin-left: -100px;  
    transform: scaleY(0);    
    transform-origin: center;
    transition: 0.5s;
  }
  /* .slogan-text{
    background-color: yellow;
  }
  */
  .slogan h2:hover span.slogan-text {
    transform: scaleY(1);
  }
  
.login:hover,.ownerlogin:hover{
    box-shadow: 3px 3px 12px 4px black;
    transform: scale(1.01);
}
.login{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

  }
.inputs {
    height: 45px;
    width: 80%;
    margin: 8px auto;
    border-radius: 10px;
    box-shadow  : 4px 8px 8px black ;
    padding: 5px;
    z-index: 1;
    
}

#logo{
    margin-left: 100px;
    color: rgb(223, 214, 214);
}
.login .inputs:hover{
    transform: scale(1.01);
}
.ownerlogin .inputs:hover{
    transform: scale(1.01);
}
.login h1{
    padding-top: 8px;
    margin: 8px auto;
    z-index: 1;
}
.ownerlogin h1{
    padding-top: 8px;
    margin: 8px auto;
    z-index: 1;
}
.extra{
    margin: 8px ;
    margin-left: 30px;
    z-index: 1;
}
#Forgot{
    position: absolute;
    left: 260px;
    z-index: 1;
}
.login #owner{
    margin: 5px auto;
    z-index: 1;
}
.owner  login #owner{
    margin: 5px auto;
    z-index: 1;
}
button{
    height: 50px;
    width: 60%;
    margin: 6px auto;
    z-index: 1;
    background-color: grey;
    color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 6px #121212;
}
button:hover{
    transform: scale(1.02);
    cursor: pointer;
    box-shadow: 3px 3px 8px black;
}
.new{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px auto;
    z-index: 1;
}

.ownerlogin{
    display: none;
}

.changelogin,.changelogin2{
    width: 30%;
    height: 40%;
    color: white;
    position: absolute;
    bottom: -240px;
    left:160px;
    color: black;
   
}

.changelogin label,.changelogin2 label{
    cursor:pointer;
    text-shadow: 3px 3px 12px black;

}

.changelogin2{
    left: 150px;
    display: none;
}

#who{
    display: none;
}
#who:checked ~ .login{
    display: none;

}
#who:checked ~ .ownerlogin{
    display: flex;
}
#who:checked ~ .changelogin2{
    display: flex;

}
#who:checked ~ .changelogin{
    display: none;
}

.signupForm{
    height: 70%;
    top: 150px
}

/* .otp-container{
    display:
} */

#owner-otp, #customer-otp{
    width: 40%;
    
    margin-left: 40px;
    margin-bottom: 20px;
}

#verify-button{
    width: 20%;
    margin-top: -60px;
    margin-right: 40px;
}

#forgot-pass-heading{
   
}
#reset-verify-button{
    width: 30%;
    margin-left: 280px;
    margin-top: -70px;
}

#google-signin-button{
    background-image: url('google-banner.jpeg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
    width: 40%;
    color: black;
}

